<h1>User Registration</h1>

<form onsubmit="AddNewUser()">
    <div class="row">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" placeholder="Enter First Name"/>
    </div>

    <div class="row">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" placeholder="Enter Last Name"/>
    </div>

    <div class="row">
        <label for="emailId">Email</label>
        <input type="email" #emailId class="form-control" placeholder="Enter Email"/>
    </div>

    <div class="row">
        <label for="firstName">Mobile No</label>
        <input type="text" class="form-control" placeholder="Enter First Name"/>
    </div>

    <div class="row">
        <label for="">Upload Profile Picture</label>
        <input type="image"/>
    </div>

    <div class="row">
        <button type="submit" >Submit</button>
    </div>
</form>
